<input [(ngModel)]="searchTerm" placeholder="Search videos">
<div class="video-grid">
  <mat-card *ngFor="let video of filterVideos(searchTerm)" (mouseover)="playPreview(video)" (mouseout)="stopPreview(video)" [routerLink]="['/watch', video.id]">
    <mat-card-header>
      <mat-card-title>{{video.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="video.image" alt="Video thumbnail">
    <mat-card-content>
      {{video.description}}
    </mat-card-content>
  </mat-card>
</div>
